body {font-family: 'Nunito', sans-serif; background: #FEF9F8}

h1 {
  font-weight: 700;
}

.state{
  fill: none;
  stroke: black;
  stroke-width: 1;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.state:hover{
  fill-opacity:0.5;
}
#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px "Nunito", sans-serif;
  background: #fff;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
}
#tooltip h4{
  margin:0;
  font-size:14px;
}
#tooltip{
  border:1px solid grey;
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
  color:black;
  opacity:0;
}
#tooltip table{
  table-layout:fixed;
}
#tooltip tr td{
  padding:0;
  margin:0;
}
#tooltip tr td:nth-child(1){
  width:50px;
}
#tooltip tr td:nth-child(2){
  text-align:center;
}

#svg-boys, #svg-girls {
  display: none;
}

.duck {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
